@model eBookLibraryService.Models.Book

@{
    ViewData["Title"] = "Add Book";
}

<h1>Add Book</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Author" class="control-label"></label>
        <input asp-for="Author" class="form-control" />
        <span asp-validation-for="Author" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Publisher" class="control-label"></label>
        <input asp-for="Publisher" class="form-control" />
        <span asp-validation-for="Publisher" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="BorrowPrice" class="control-label"></label>
        <input asp-for="BorrowPrice" class="form-control" />
        <span asp-validation-for="BorrowPrice" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="BuyingPrice" class="control-label"></label>
        <input asp-for="BuyingPrice" class="form-control" />
        <span asp-validation-for="BuyingPrice" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="YearOfPublishing" class="control-label"></label>
        <input asp-for="YearOfPublishing" class="form-control" />
        <span asp-validation-for="YearOfPublishing" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="AgeLimitation" class="control-label"></label>
        <input asp-for="AgeLimitation" class="form-control" />
        <span asp-validation-for="AgeLimitation" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ImageUrl" class="control-label"></label>
        <input asp-for="ImageUrl" class="form-control" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>
<div><a asp-action="Index" class="btn btn-warning"><i class="fa-solid fa-arrow-left"></i>Back</a></div>
